.title {
	font-family: var(--font-merriweather);
	font-weight: 700;
	font-size: clamp(1.2rem, 1.3rem + 1.22vw, 2.6rem);
	line-height: 52px;
	text-align: center;
	color: #333333;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}