.wrapper {
	background-color: rgba(185, 199, 218, 0.5);
	padding-block: 20px;
	border-radius: 10px;
	padding-inline: 15px;
	border: 1px solid #3b82f6;
}

.title {
	text-align: center;
	font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
	font-weight: 600;
	padding-block:0 15px;
	border-bottom: 3px solid #3b82f6;
	color: #333;
}

.card {
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	// padding: 15px;
	padding: clamp(0.313rem, 0.085rem + 1.14vw, 0.938rem);
	display: flex;
	gap: clamp(0.25rem, 0.159rem + 0.45vw, 0.5rem);
	justify-content: space-between;
	align-items: center;
}

.dish {
	font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
	font-weight: 600;
	color: #333;
}

.emptyText {
	font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
	padding-block: 15px 10px;
	font-weight: 600;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #2b2525;
}